<h1>Editing foreign key</h1>

<%= render "form", foreign_key: @foreign_key %>

<br>

<div>
  <%= link_to "Show this foreign key", @foreign_key %> |
  <%= link_to "Back to foreign keys", foreign_keys_path %>
</div>
